# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.next
out
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode/*
!.vscode/extensions.json
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Test
coverage
.nyc_output
*.lcov

# Prisma
prisma/migrations/**/migration_lock.toml

# Misc
*.pem
.cache
